
<h3>Please, share your thoughts...</h3>


<p>“Alice asked the Cheshire Cat, who was sitting in a tree, “What road do I take?”</p>

<p>The cat asked, “Where do you want to go?”</p>

<p>“I don’t know,” Alice answered.</p>

<p>“Then,” said the cat, “it really doesn’t matter, does it?”</p>

<p><strong>― Lewis Carroll, Alice's Adventures in Wonderland</strong></p>
